@import "./everforest.css";

* {
    font-family: JetBrainsMono Nerd Font, FontAwesome;
    font-weight: bold;
    font-size: 16px;
    border-radius: 8px;
}

window#waybar {
    background: @theme_base_color;
    border-bottom: none;
    color: @fg;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button {
    padding: 2px;
    background-color: @bg_dim;
    color: @fg;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: none;
    /* Avoid rounded borders under each workspace name */
    border: none;
    min-width: 28px;
    border-radius: 8px;
    margin: 3px;
}

#workspaces button.active {
    background-color: @bg_green;
    box-shadow: none;
}

#workspaces button.urgent {
    background-color: rgba(230, 126, 128, 0.5);
}

#mode {
    background-color: @theme_base_color;
    border-bottom: 3px solid @black;
}
#clock,
#custom-powermenu,
#custom-weather,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,

#mpd {
    padding: 0 6px;
    margin: 3px 3px;
    color: @fg;
}

#window,
#workspaces {
    margin: 0 4px;
    color: @fg;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#battery {
    background-color: @bg1;
    color: @fg;
}


#battery.charging {
    color: @black;
    background-color: @aqua;
}

#battery.full {
    background-color: @bg_green;
    color: @fg;
}

#battery.warning {
    color: @red;
    background-color: @bg4;
}

#battery.plugged {
    color: @black;
    background-color: @aqua;
}

@keyframes blink {
    to {
        background-color: @red;
        color: #4F585E;
    }
}

#battery.critical:not(.charging) {
    background-color:  @bg4;
    color: @red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: @black;
}

#clock {
    background-color: @gray;
    color: @fg;
}

#custom-powermenu {
    background-color: @theme_base_color;
    color: @orange;
}

#cpu {
    background-color: @bg5;
    color: @fg;
}

#memory {
    background-color: @bg4;
    color: @fg;
}

#backlight {
    background-color: @bg3;
    color: @fg;
}

#pulseaudio {
    background-color: @bg_blue;
    color: @fg;
}

#pulseaudio.muted {
    background-color: @aqua;
    color: #2a5c45;
}

#custom-media {
    background-color: @bg5;
    color: @fg;
    min-width: 100px;
}

#temperature {
    background-color: @orange;
}

#temperature.critical {
    background-color: @red;
}

#tray {
    background-color: @bg2;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @red;
}

#mpd {
    background-color: @bg_green;
    color: @fg;
}

#mpd.disconnected {
    background-color: @red;
}

#mpd.stopped {
    background-color: @bg_dim;
}

#mpd.paused {
    background-color: @aqua;
}
